services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres12345
      POSTGRES_DB: postgresdb

    ports:
      - "5432:5432"
    volumes:
      # Persistent database storage
      - pgdata:/var/lib/postgresql/data
     
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5


  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin12345
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - default

volumes:
  pgdata:

networks:
  default:
    name: airflow_network
    external: 'true'