version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres12345
      POSTGRES_DB: postgresdb
    ports:
      - "5432:5432"
    volumes:
      # Persistent database storage
      - pgdata:/var/lib/postgresql/data

      # Mount MovieLens CSV so you can import them easily
      - ../MovieLens:/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:

networks:
  default:
    name: airflow_network
    external: 'true'