# Using the official MinIO Docker image
x-minio-image: &minio-image docker.io/minio/minio:RELEASE.2025-09-07T16-13-09Z

# MinIO Docker Compose configuration
services:
  # MinIO service
  minio:
    image: *minio-image
    container_name: minio

    # Command to start MinIO server with data directory and console address
    command: server /data --console-address ":9001"

    # Set environment variables for MinIO
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin12345

    # Map MinIO ports
    ports:
      # UI Console
      - "9001:9001"

    # Mount local directory to container for data persistence
    volumes:
      - minio_data:/data

    # Healthcheck to ensure MinIO is running
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    
    # Always restart the container if it stops
    restart: always


  # MinIO Client setup service
  minio-setup:
    image: *minio-image
    container_name: minio-setup

    # MinIO Client setup service
    entrypoint: >
      /bin/sh -c "sh /tmp/config/setup_minio.sh"

    # Mount the policy files to the container
    volumes:
      - ./config:/tmp/config:ro

    # Ensure MinIO service is started before running setup
    depends_on:
      minio:
        condition: service_healthy

# Define named volumes for MinIO data persistence
volumes:
  minio_data:

# Use an external Docker network to allow communication between containers
networks:
  default:
    name: airflow_network
    external: 'true'
